<table id="plays">
  <thead>
    <tr>

      <th>Tick</th>
      <th>Image</th>
    </tr>
  </thead>

  <tbody>
    <% @plays.each do |play| %>
      <tr>
        <td><%= play.timer %></td>
        <td><%=image_tag(play.play_image.url,size:"70x70") if !play.nil? && !play.play_image.nil?%></td>
      </tr>
    <% end %>
  </tbody>
</table>